.popup__buy {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fac62d;
  border-radius: 6px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #383736;

  margin: 0;
  padding: 0;
  margin-top: auto;

  width: 268px;
  height: 44px;

  cursor: pointer;

  &:hover {
    background: #f0b505;
    transition: all 0.3s;
  }

  &:active {
    background: #e1ab08;
  }
}

@media (max-width: 919px) {
  .popup__buy {
    width: 180px;
  }
}

@media (max-width: 825px) {
  .popup__buy {
    margin-top: 24px;

    width: 100%;
  }
}

@media (max-width: 580px) {
  .popup__buy {
    margin-top: 16px;
  }
}
