.popup__wrapper-price {
  display: flex;
  flex-direction: column;

  padding: 0 32px;
  margin-left: auto;

  max-width: 332px;
  box-sizing: border-box;

  border-left: 1px solid #f0eeeb;
}

@media (max-width: 825px) {
  .popup__wrapper-price {
    max-width: 100%;
    box-sizing: border-box;

    border-top: 1px solid #f0eeeb;
    border-left: 0;

    margin: 0 32px;
    padding: 0;
    padding-top: 23px;
  }
}

@media (max-width: 580px) {
  .popup__wrapper-price {
    margin: 0 20px;
    padding: 0;
    padding-top: 19px;
  }
}
